/** CSS STYLE **/
* {
  margin: 0;
  padding: 0;
}

/* Colors */

:root {
  --white: #fff;
  --translucentWhite: #d7ccc0;
  --light: #f5f4f0;
  --mainColor: #fe8a02;
  --mainDark: #42413c;
  --dark: #2a2626;
  --translucentDark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

/* Fonts */

@font-face {
  font-family: 'Neucha-Regular';
  src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}

.mainFont {
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

.mutedFont {
  font-weight: normal;
  font-size: 24px;
  font-family: 'Neucha-Regular', sans-serif;
  line-height: 1.2em;
}

.sectionMainFont {
  font-weight: normal;
  font-size: 34px;
  font-family: 'Neucha-Regular', sans-serif;
  line-height: 1.2em;
}

.font-size-52 {
  font-size: 52px;
}

.font-yellow {
  color: var(--mainColor);
}

.font-white {
  color: var(--white);
}

.font-dark {
  color: var(--dark);
}

.font-translucentDark {
  color: var(--translucentDark);
}

.font-brown {
  color: var(--brown);
}

/* Headings */

h1 {
  font-family: 'Neucha-Regular';
  font-size: 72px;
  line-height: 1.2em;
  margin-top: 0;
}

h2 {
  font-family: 'Neucha-Regular';
  font-size: 60px;
  line-height: 1.2em;
}

h3 {
  font-family: 'Neucha-Regular';
  font-size: 34px;
  line-height: 1.2em;
}

.h3-section {
  font-weight: 700;
  font-size: 16px;
  font-family: "Open Sans", sans-serif;
  line-height: 1.6em;
}

/* Backgrounds */

.back {
  position: relative;

  overflow-x: hidden;
}

.back::before {
  position: absolute;
  background-image: url('../../images/background.png');

	width: 100%;
  height: 100%;

  background-repeat: no-repeat;
	background-size: cover;

	opacity: 10%;
  content: "";
}

.bg-dark {
  background-color: var(--dark);
}

.bg-brown {
  background-color: var(--brown);
}

.bg-light {
  background-color: var(--white);
}



/* Common */

section {
  position: relative;

  left: 200px;
  width: 1110px;

  padding:125px 0;
}

.section-line {
  width: 100%;

  margin-top: 100px;
  padding: 2px 2px;
  padding-left: 12px;

  text-transform: uppercase;
}

.container {
  position: relative;

  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;

  width: 1110px;

  margin: 0 auto;
  padding: 100px 0;
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 p {
  margin-top: 0;
}

.half-block {
  flex-grow: 1;
  width: calc(50% - 20px);
}

.btn {
  display: block;
  width: 148px;
  height: 49px;
  margin-top: 4em;
  padding: 12px 24px;
  background: var(--mainColor);
  color: var(--white);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.section-img {
  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
  vertical-align: middle;
  width: calc(50% - 20px);
}

.mt-20 {
  margin-top: 20px;
}

.mt-30 {
  margin-top: 30px;
}

.mt-100 {
  margin-top: 100px;
}

.mt-200 {
  margin-top: 200px;
}

.mb-20 {
  margin-bottom: 20px;
}

.mb-30 {
  margin-bottom: 30px;
}

.mr-30 {
  margin-right: 30px;
}

.pt-100 {
  padding-top: 100px;
}

.z-index-2 {
  position: relative;
  z-index: 2;
}

.z-index-1 {
  z-index: 1;
}

.no-link-decoration {
  text-decoration: none;
}

.text-align-center {
  text-align: center;
}

.text-align-left {
  text-align: left;
}

.video {
  width: 919px;
  height: 569px;

  border: none;

  filter: drop-shadow(0 16px 32px rgba(0, 0, 0, 0.15));
}

nav {
  position: relative;
  top: -100px;
}

.nav-item-description {
  width: 350px;
  padding: 24px 0;
}

.nav-item {
  width: 302px;
  padding: 24px;
}

.nav-item-num {
  padding-bottom: 40px;
  font-size: 64px;
  font-family: 'Neucha-Regular';
  line-height: 1em;
}

.display-block {
  display: block;
}

.animation:hover {
  color: var(--white);

  background: var(--mainColor);
}

.animation:hover span {
  color: var(--white);
}
