/** CSS STYLE **/
:root {
  --white: #fff;
  --translucentWhite: #d7ccc0;
  --light: #f5f4f0;
  --mainColor: #fe8a02;
  --mainDark: #42413c;
  --dark: #2a2626;
  --translucentDark: #908d8b;
  --brown: #b09a81;
  --blue: #1085c5;
}

@font-face {
  font-family: 'Neucha-Regular';
  src: url('../fonts/Neucha-Regular.ttf');
}

@font-face {
  font-family: 'OpenSans-Regular';
  src: url('../fonts/OpenSans-Regular.ttf');
}

.mainFont {
  font-family: 'OpenSans-Regular';
  font-size: 16px;
  line-height: 1.6em;
  color: var(--dark);
}

h1 {
  font-family: 'Neucha-Regular';
  font-size: 72px;
  line-height: 1.2em;
  margin-top: 0;
}

h2 {
  font-family: 'Neucha-Regular';
  font-size: 60px;
  line-height: 1.2em;
}

h3 {
  font-family: 'Neucha-Regular';
  font-size: 34px;
  line-height: 1.2em;
}

.font-yellow {
  color: var(--mainColor);
}

section {
  position: relative;
  left: 200px;
  width: 1110px;
  padding-top:125px;
}

.back {
  position: relative;
}

.back:before {
  position: absolute;
  background-image: url('../../images/background.png');
	width: 1500px;
	height: 960px;
  background-repeat: no-repeat;
	background-size: cover;
	opacity: 10%;
  content: '';
}

.columns-2 {
  column-count: 2;
  column-gap: 30px;
}

.columns-2 p {
  margin-top: 0;
}


.btn {
  display: block;
  width: 148px;
  height: 49px;
  margin-top: 4em;
  padding: 12px 24px;
  background: var(--mainColor);
  color: var(--white);
  font-weight: bold;
  border: none;
  cursor: pointer;
}

.img {
  position: absolute;
  height: 525px;
  top: 55px;
  right: -270px;
}

.distance {
  margin-top: 200px;
}

.text-z-index {
  position: relative;
  z-index: 2;
}

.img-z-index {
  z-index: 1;
}
